.advantages{
  h1{
    font-weight: 300;
    font-size: 50px;
    line-height: 138%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    span{
      font-weight: 700;
    }
  }
  &_content{
    display: flex;
    justify-content: space-between;
    .about_line{
      width: 3px;
      height: 84px;
      background: #e2e2e2;
      margin-top: 100px;
    }
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 138%;
      text-align: center;
      color: #000;
    }
  }
}