.partners{
  padding: 50px 0;
  h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #333;
  }
  p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    color: #666;
  }
}

.slider{
  max-height:310px;
  border: 1px solid #ddd;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.slider::-webkit-scrollbar {
  width: 0;
}

.slide{
  min-width: 310px;
  text-align: center;
  margin-right: 2px;
  img{
    width: fit-content;
    height: 200px;
  }
}