.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

h1{
  margin: 40px 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 50px;
  line-height: 138%;
  text-transform: uppercase;
  color: #000;
  span{
    font-weight: 700;
  }
}

.box{
  display: flex;
  align-items: center; 
  background-image: url("./img/background.svg");
  border-radius: 8px;
  padding: 0 10px ;
  .mini_box{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    p{
      font-weight: 500;
      font-size: 18px;
      line-height: 138%;
      color: #000;
    }
  }
  .tools_img{
    width: 160px;
    height: 200px;
  }
  &:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }


}